<h1>Editing Characteristics Product</h1>

<%= render 'form', characteristics_product: @characteristics_product %>

<%= link_to 'Show', @characteristics_product %> |
<%= link_to 'Back', characteristics_products_path %>
