<div class="col-4">
  <div class="card">
    <a href= <%= subcategory_path(subcategory) %> >
    <img class="card-img-top" src=<%= asset_path("subcategory_cards/#{subcategory.id}.png") %> >
    <div class="card-body">
      <h5 class="card-title"><%= subcategory.name %></h5>
    </div>
  </a>
  </div>
</div>
