<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Created</td>
      <td>Status</td>
    </tr>
  </thead>
  
  <tbody>
    <% @parsing_jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.created_at %></td>
        <td><%= job.status %></td>
      </tr>
    <% end %>
  </tbody>
