<ol class="breadcrumb shadow-sm">
    <li class="breadcrumb-item"><a href=<%= products_path %>>Домой</a></li>
    <li class="breadcrumb-item active"><%= @category.name %></li>
</ol>
<p id="notice"><%= notice %></p>

<div class="row">
  <%= render partial: 'subcategories/subcategory', collection: @category.subcategories %>
</div>
